<!-- Tipo de identificación, número de identificación, nombres, apellido,
correo electrónico, fecha de nacimiento -->
<div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label requested-info">ID type</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select an ID type</option>
          <option value="1">CC</option>
          <option value="2">CE</option>
          <option value="3">NIT</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label requested-info">ID number</label>
        <input type="text" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label requested-info">Name</label>
        <input type="text" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label requested-info">Last name</label>
        <input type="text" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label requested-info">Email Address</label>
        <input type="email" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label requested-info">Date of Birth</label>
        <input type="date" class="form-control" id="validationDefault01" required>
      </div>
      <button type="submit" class="btn btn-primary">Create account</button>
    </form>
  </div>
