<!-- tipo de cuenta,exenta GMF -->
<div class="container">
  <form>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label requested-info">Client ID</label>
      <input type="number" class="form-control" id="validationDefault01" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label requested-info">Account type</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose an account</option>
        <option value="1">Checking</option>
        <option value="2">Savings</option>
      </select>
    </div>
    <label for="exampleInputEmail1" class="form-label requested-info">GMF Exempt</label>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
      <label class="form-check-label" for="validationFormCheck2">Yes</label>
    </div>
    <div class="form-check mb-3">
      <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
      <label class="form-check-label" for="validationFormCheck3">No</label>
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>
  </form>
</div>