<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Sophos Bank App!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clients
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/client/create">Create a client</a></li>
              <li><a class="dropdown-item" href="/client/show">Show all clients</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/client/modify">Modify a client information</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/product/create">Create a product</a></li>
              <li><a class="dropdown-item" href="/product/show">Show your products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/product/modify">Modify your products</a></li>
              <li><a class="dropdown-item" href="/product/specific">Your account status</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/transaction/create">Start a transaction!!!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>