<div class="container">
    <form>
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label requested-info requested-info">Account ID</label>
            <input type="number" class="form-control" id="validationDefault01" required>
        </div>
        <table class="table table-hover">
            <!-- fecha del
movimiento, tipo de transacción, descripción, valor, tipo de movimiento (débito o
crédito), saldo y saldo disponible. -->
            <thead>
                <tr>
                    <th scope="col">Transaction date</th>
                    <th scope="col">Transaction type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Transaction amount</th>
                    <th scope="col">Movement type</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Available balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Modify account</button>
    </form>
</div>
